<!DOCTYPE html>
<html>
  {{ partial "head.html" }}
  <body>
  <!--Loader-->
  {{ partial "siteloader.html" . }}

  <!--Topbar-->
  {{ partial "topbar.html" . }}

  <!--Header-->
  {{ partial "header.html" . }}

      {{ if (isset .Params "id") }}
        {{ partial .Params.id . }}
      {{else}}
          <!--Revo. Slider-->
          {{ partial "slider.html" . }}

          <!--Features Section-->
          {{ partial "features.html" . }}

          <!--Service-->
          {{ partial "service.html" . }}

          <!--Image with content-->
          {{ partial "imagewithcontent.html" . }}

          <!--Image with content-->
          {{ partial "gallery.html" . }}

          <!--Facts Counter-->
          {{ partial "factscounter.html" . }}

          <!--Our Chefs-->
          {{ partial "ourchefs.html" . }}

          <!--Order Online-->
          {{ partial "orderonline.html" . }}

          <!--Featured Food Recipie-->
          {{ partial "featurefoodrecipe.html" . }}

          <!--Testimonial-->
          {{ partial "testimonial.html" . }}
      {{end}}

  <!--Testimonial-->
  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}
  </body>
</html>
