<section id="overview" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h2 class="heading">Restaurant &nbsp; Overview</h2>
         <hr class="heading_space">
         <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. quam nunc putamus parum claram, Mirum est notare quam littera gothica Mirum est notare quam littera gothica Mirum est notare quam littera gothicaMirum est notare quam littera gothica. Mirum est notare quam littera gothica Mirum est notare quam littera gothica Mirum est notare quam littera gothicaMirum est notare quam littera gothica.</p>
      </div>
    </div>
  </div>
</section>
