{{ partial "breadcumbs.html" . }}
<section id="faq" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h2 class="heading">Frequently ask Questions</h2>
      <hr class="heading_space">
        <div class='faq_wrapper'>
          <ul class='items'>
            <li>
              <a href='#'> Lorem ipsum dolor sit amet, an eripuit laboramus sententiae duo lorem sio?</a>
              <ul class='sub-items'>
                <li>
                  <p class="half_space">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look
                  like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search
                  for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>There are many variations of passages of Lorem Ipsum available?</a>
              <ul class='sub-items'>
                <li>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>It is a long established fact that a reader will be distracted by the readable content looking at its layout.</a>
              <ul class='sub-items'>
                <li>
                  <p class="half_space">Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>We offer lot of service in a best price</a>
              <ul class='sub-items'>
                <li>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>will be distracted by the readable standard Lorem Ipsum content looking at its layout.</a>
              <ul class='sub-items'>
                <li>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>The standard Lorem Ipsum passage, used since the 1500s</a>
              <ul class='sub-items'>
                <li>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text (injected humour and the like).</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
