<section id="food" class="padding bg_grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Our &nbsp; Menu</h2>
        <hr class="heading_space">
      </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <ul class="menu_widget">
          <li>Classic Nachos<span>$499.00</span></li>
          <li>Nachos Grande<span>$249.00</span></li>
          <li>Avocado Shell Stuffed<span>$150.00</span></li>
          <li>Stuffed Mushroom<span>$199.00</span></li>
          <li>Baked Potato Jackets<span>$99.00</span></li>
          <li>Mexican Taco<span>$899.00</span></li>
          <li>Tex-Mex Chicken<span>$1250.00</span></li>
          <li>Quesadillas Acapulco<span>$399.00</span></li>
          <li>Quesadillas Acapulco<span>$399.00</span></li>
          <li>Quesadillas Acapulco<span>$399.00</span></li>
          <li>Garbo Chicken<span>$39.00</span></li>
          <li>Spaghetti<span>$3.00</span></li>
          <li>Barbecue Beef <span>$39.00</span></li>
          <li>Buck Wheat<span>$30.00</span></li>
        </ul>
      </div>
      <div class="col-md-8 grid_layout">
      <div class="row">
      <div class="zerogrid">
          <div class="wrap-container">
            <div class="wrap-content clearfix">
              <div class="col-1-2">
              <div class="wrap-col first">
                  <div class="item-container">
                   <img src="http://www.themesindustry.com/html/bistro/images/grid-layout2.jpg" alt="cook"/>
                   <div class="overlay">
                       <a class="overlay-inner fancybox" href="http://www.themesindustry.com/html/bistro/images/grid-layout2.jpg" data-fancybox-group="gallery">
                           Barbique Delite
                       </a>
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-1-2">
              <div class="wrap-col first">
                  <div class="item-container">
                   <img src="http://www.themesindustry.com/html/bistro/images/grid-layout3.jpg" alt="cook"/>
                   <div class="overlay">
                      <a class="overlay-inner fancybox" href="http://www.themesindustry.com/html/bistro/images/grid-layout3.jpg" data-fancybox-group="gallery">
                         Barbique Delite
                      </a>
                   </div>
                   </div>
                </div>
              </div>
              <div class="col-1-2">
              <div class="wrap-col">
                  <div class="item-container">
                   <img src="http://www.themesindustry.com/html/bistro/images/grid-layout4.jpg" alt="cook"/>
                   <div class="overlay">
                       <a class="overlay-inner fancybox" href="http://www.themesindustry.com/html/bistro/images/grid-layout4.jpg" data-fancybox-group="gallery">
                          Barbique Delite
                       </a>
                   </div>
                    </div>
                </div>
              </div>
              <div class="col-1-2">
              <div class="wrap-col">
                  <div class="item-container">
                   <img src="http://www.themesindustry.com/html/bistro/images/grid-layout5.jpg" alt="cook"/>
                   <div class="overlay">
                       <a class="fancybox overlay-inner" href="http://www.themesindustry.com/html/bistro/images/grid-layout5.jpg" data-fancybox-group="gallery">
                         Barbique Delite
                       </a>
                    </div>
                   </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
