<section class="padding" id="popular">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h2 class="heading">Featured Food</h2>
      <hr>
      </div>
      <div class="col-sm-3">
        <div class="popular top40 text-center">
          <div class="image">
             <img src="/images/popular2.jpg" alt="popular1">
             <div class="overlay">
               <a class="fancybox overlay-inner" href="/images/popular2.jpg" data-fancybox-group="gallery">
                 <i class="icon-eye6"></i>
               </a>
             </div>
          </div>
          <h4>Chicken Mojamo</h4>
          <span class="dish">$56.99</span>
          <p>Lorem ipsum dolor sit amet conse ctetur hendrerit</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="popular top40 text-center">
          <div class="image">
             <img src="/images/popular2.jpg" alt="popular1">
             <div class="overlay">
               <a class="fancybox overlay-inner" href="/images/popular2.jpg" data-fancybox-group="gallery">
                 <i class="icon-eye6"></i>
               </a>
             </div>
          </div>
          <h4>Chicken Mojamo</h4>
          <span class="dish">$56.99</span>
          <p>Lorem ipsum dolor sit amet conse ctetur hendrerit</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="popular top40 text-center">
          <div class="image">
             <img src="/images/popular2.jpg" alt="popular1">
             <div class="overlay">
               <a class="fancybox overlay-inner" href="/images/popular2.jpg" data-fancybox-group="gallery">
                 <i class="icon-eye6"></i>
               </a>
             </div>
          </div>
          <h4>Chicken Mojamo</h4>
          <span class="dish">$56.99</span>
          <p>Lorem ipsum dolor sit amet conse ctetur hendrerit</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="popular top40 text-center">
          <div class="image">
             <img src="/images/popular2.jpg" alt="popular1">
             <div class="overlay">
               <a class="fancybox overlay-inner" href="/images/popular2.jpg" data-fancybox-group="gallery">
                 <i class="icon-eye6"></i>
               </a>
             </div>
          </div>
          <h4>Chicken Mojamo</h4>
          <span class="dish">$56.99</span>
          <p>Lorem ipsum dolor sit amet conse ctetur hendrerit</p>
        </div>
      </div>
    </div>
  </div>
</section>
