<section class="bg_bistro padding-half">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 white_content">
        <i class="icon-glass"></i>
        <h3>Dinner & Dessert</h3>
        <p> you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing onsectetur Graphic Power Ut eros.</p>
      </div>
      <div class="col-md-4 col-sm-6 white_content">
        <i class="icon-coffee"></i>
        <h3><a href="services.html">Breakfast</a></h3>
        <p> you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing onsectetur Graphic Power Ut eros.</p>
      </div>
      <div class="col-md-4 col-sm-6 white_content">
        <i class="icon-coffee2"></i>
        <h3><a href="services.html">Ice Shakes</a></h3>
        <p> you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing onsectetur Graphic Power Ut eros.</p>
      </div>
      <div class="col-md-4 col-sm-6 white_content">
        <i class="icon-glass2"></i>
        <h3><a href="services.html">Beverages</a></h3>
        <p> you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing onsectetur Graphic Power Ut eros.</p>
      </div>
      <div class="col-md-4 col-sm-6 white_content">
        <i class="icon-spoon-knife"></i>
        <h3><a href="services.html">Delicious Food</a></h3>
        <p> you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing onsectetur Graphic Power Ut eros.</p>
      </div>
      <div class="col-md-4 col-sm-6 white_content">
        <i class="icon-bowl"></i>
        <h3><a href="services.html">Desserts</a></h3>
        <p> you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing onsectetur Graphic Power Ut eros.</p>
      </div>
    </div>
  </div>
</section>
