<section id="welcome" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h2 class="heading">Welcome to Bistro</h2>
         <hr class="heading_space">
      </div>
      <div class="col-md-7 col-sm-6">
        <p class="half_space">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries.</p>
        <p class="half_space">That also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p class="half_space">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including  of Lorem Ipsum.</p>
        <ul class="welcome_list">
        <li>Business Events</li>
        <li>Birthdays</li>
        <li>Cardiovascular Diseases</li>
        <li>Weddings</li>
        <li>Party & Others</li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-6">
       <img class="img-responsive" src="/images/welcome.jpg" alt="welcome bistro">
      </div>
    </div>
  </div>
</section>
