<section id="testinomial" class="padding">
  <div class="container">
  <div class="row">
      <div class="col-md-12 text-center">
      <h2 class="heading">Our &nbsp; happy &nbsp; Customers</h2>
      <hr class="heading_space">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div id="testinomial-slider" class="owl-carousel text-center">
        {{ $gistJ := getJSON "/data/testimonial/testimonial.json" }}
         {{ range $i,$r := $gistJ }}
         <div class="item">
           <h3>{{ $r.desc }}</h3>
           <p>{{ $r.name }}</p>
         </div>
         {{end}}
       </div>
      </div>
    </div>
  </div>
</section>
